body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  /*margin-right: -1px;*/
  /*margin-top: -1px;*/
  padding: 0;
  text-align: center;
  width: 50px;
}

.square:hover {
  cursor: pointer;
  background-color: #eee;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.board {
  border: 2px solid #999;
}

.board-row:nth-child(3n+1) .square {
  border-top: 2px solid #999;
}

.board-row:nth-child(3n) .square {
  border-bottom: 2px solid #999;
}

.square:nth-child(3n+1) {
  border-left: 2px solid #999;
}

.square:nth-child(3n) {
  border-right: 2px solid #999;
}

